$default-font: "roboto-example", sans-serif;
$accent: orange;
$text: #333;
$purpleColor: #5740bb;

$mobile: 400px;
$tablet: 600px;
$tabletLarge: 768px;
$desktop: 1000px;
$desktopLarge: 1280px;
$desktopHuge: 1440px;