.wrap-tasker{
    display: grid;
    justify-items: center;
    padding: 50px 0;
}
.wrap-tasker__content{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-column-gap: 30px;
    align-items: start;
    h3{
        margin: 0;
    }
}
.wrap-tasker__box{
    display: grid;
    grid-row-gap: 5px;
}